.filterWrapper {
  border-bottom: 0.0625rem solid #b1b4b6;
  padding-bottom: 0.3125rem;
  margin-left: -0.9375rem;
  margin-bottom: 1.25rem;
  padding-top: 0.625rem;
  .heading {
    margin: 0.625rem 0 0.625rem 0.625rem;
  }
}
