.container {
  margin-top: 0.625rem;
  display: flex;
  justify-content: space-between;
  .select {
    margin-bottom: 0;
  }
}

.textSection {
  padding-top: 0.625rem;
}

.singleWordSearchWarning {
  margin: 0 2.5rem 1.25rem 0;
  font-weight: bold;
}
.resultsHeader {
  margin-bottom: 1.25rem;
}
