# Notes:
#
# Commenting
# ----------
# Any line starting with # is ignored as a comment.
# If # is used within a line then all text before is read and all text after
#   is ignored.
#
# Rules
# -----
# A config line is expected to have the following format:
#   {RuleType} followed by whitespace {AccessLevel} followed by whitespace {Descriptor}
#   e.g.
#     FileType  Read      .xlsx
#     DocType   ReadWrite 103
#
#   where:
#     RuleType = FileType or DocType
#     AccessLevel = Deny, Read or ReadWrite
#     Descriptor (for FileType rules) = file extension e.g. .docx
#     Descriptor (for DocType rules)  = numeric DocType in CMS e.g. 103
#
# Arguments after the first three are allowed but have no functional use
#  so can be used for human-readable notes, e.g.
#
#  DocType Deny .png these words are allowed but are not read by the code
#
# Wildcard
# --------
# The * character can be used to indicate all documents
#  e.g.
#   FileType  Read  *
#
# How it works!
# -------------
# By default  all documents are set to Deny.  That means that if
#  no rules are made then no documents can be read or updated.
#
# Documents must pass both rule types,  e.g.
#
#   DocType   Read  103
#   FileType  Read  .docx
#
# means a .docx Word file with type 103 can be read, but a .docx with type
#  104 cannot be read as it doesn't pass both rule types.
#
#   DocType   Read        103
#   FileType  ReadWrite  .docx
#
# means that a .docx of type 103 can be read but not updated as ReadWrite
#  includes Read privileges, but the file does not pass both rules required
#  to be updateable.
#
# Rules are read from the top of the file to the bottom. The final rule found
#  for a document is the winner (including if the rule is a wildcard).  This means
#  (depending on scenario) it may be useful to start with a wildcard rule to allow
#  all documents to be read or updated but then to use subsequent rules to deny certain
#  types, e.g.
#
#   DocType   Read  *
#   DocType   Deny  103
#   FileType  Read  .docx
#
# means that all .docx files can be read apart from those with type 103. An .xlsx of
#  type 103 cannot be read as it has file type rule beyond the default of Deny.
DocType ReadWrite *
DocType Read -54321 Special rule for e2e tests

FileType ReadWrite .doc
FileType ReadWrite .docm
FileType ReadWrite .docx
FileType ReadWrite .pdf
FileType ReadWrite .hte

FileType Read .bmp
FileType Read .gif
FileType Read .jpeg
FileType Read .jpg
FileType Read .png
FileType Read .ppt
FileType Read .pptx
FileType Read .rtf
FileType Read .text
FileType Read .tif
FileType Read .tiff
FileType Read .txt
FileType Read .xls
FileType Read .xlsx