$border-color: #b1b4b6; //govuk-colour("green");
.search {
  display: flex;
  align-items: flex-end;

  button {
    margin-left: 0.3125rem;
  }
}

.results {
  margin-top: 2.5rem;
}

.filter {
  border: 0.0625rem solid $border-color;

  :global(.govuk-heading-m) {
    border-bottom: 0.0625rem solid $border-color;
    padding: 0.75rem;
    margin-bottom: 0;
  }

  & :global(.legend) {
    padding: 0.625rem;
    margin-bottom: 0.625rem;
  }

  :global(.govuk-form-group) {
    padding: 0 0.625rem;
  }
}

.result {
  margin-top: 1.875rem;
}

.defendantName {
  margin: -1rem 0 0.3125rem;
}

.result-offence + .result-offence {
  margin-top: 1.5625rem;
}

.result-offence-line {
  display: flex;

  span:first-of-type {
    min-width: 10rem;
    margin-right: 3rem;
  }
}
