.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 4.375rem;
  background: white;
  width: 100%;
  border-top: 0.25rem solid #b1b4b6;
  z-index: 4;
}

.removeButton {
  margin: 0 1.25rem;
  &:disabled {
    cursor: not-allowed;
    color: #b1b4b6;
  }
}

.summary {
  margin-left: auto;
}

.saveButton {
  margin: 0 1.25rem !important;
}
