.AreaHighlight {
  /*border: 0.0625rem solid #333; see https://github.com/agentcooper/react-pdf-highlighter/issues/160#issuecomment-942854641*/
  background: rgba(255, 226, 143, 1);

  opacity: 1;
  mix-blend-mode: multiply;
}

.AreaHighlight__part {
  cursor: pointer;
  position: absolute;
  background: black;
  border: none;
  transition: background 0.3s;
}

.AreaHighlight--scrolledTo .AreaHighlight__part {
  background: #ff4141;
}
