.pdfViewer {
  height: calc(84vh - 1.5rem);
  max-height: 1500px; // to prevent zooming out overly elongating the pdf(not changing it to rems)
  width: 100%;
  position: relative;
  & *:focus {
    outline: 0.125rem solid #ffdd00;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.0625rem #0b0c0c;
  }
  :global(.PdfHighlighter) {
    width: 900px;
  }
  :global(.pdfViewer.removePageBorders .page) {
    margin: 0 0 10px;
  }
}
.spinner {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 6;
  background-color: rgba(255, 255, 255, 0.4);
}
