.button {
  font-family: "TransportNew", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1875rem;
  cursor: pointer;
  background-color: #00703c;
  color: white;
  padding: 0.9375rem 1.25rem;
  margin-bottom: -0.125rem;
  margin-top: -0.625rem;
  border: 0;
}

.button:disabled {
  cursor: none;
  opacity: 0.5;
}

.redactionModal {
  width: 300px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;

  filter: drop-shadow(0 1px 0.15rem #000);
}
