.redactionWarning {
  font-family: "TransportNew", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1875rem;
  background-color: #d4351c;
  color: white;
  padding: 0.9375rem 1.25rem;
  margin-bottom: -0.125rem;
  margin-top: -0.625rem;
}

.redactionWarning:after {
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - 0.625rem);
  background: #d4351c;
  width: 1.25rem;
  height: 0.625rem;

  /* The points are: (left top: x y, right top: x y, center bottom: x y) */
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
