/.idea/
/.vs
/polaris-pipeline/pdf-generator/Aspose.Total.NET.lic
/polaris-pipeline/text-extractor/mock-ocr.settings.json
/polaris-pipeline/pdf-generator/Aspose.Total.Product.Family.lic
azurite
/polaris-terraform/.vs
.cache_ggshield