/.idea/
/.vs
/polaris-pipeline/pdf-generator/Aspose.Total.NET.lic
/polaris-pipeline/text-extractor/mock-ocr.settings.json
/polaris-pipeline/pdf-generator/Aspose.Total.Product.Family.lic
azurite
/polaris-terraform/.vs
.cache_ggshield
/ddei-mock/urns
/ddei-mock/bin/Debug/net6.0
/ddei-mock/obj
.cache_ggshield
/polaris-pipeline/coordinator/Properties
/polaris-ddei-mock/Properties/PublishProfiles
/polaris-ddei-mock/Properties/ServiceDependencies/polaris-ddei-mock - Zip Deploy
/polaris-ddei-mock/Properties/ServiceDependencies/WireMockNetWebApplicationNET6Linux - Zip Deploy
/polaris-ddei-mock/polaris-ddei-mock.csproj.user
/polaris-integration.tests/appsettings.json
/polaris-integration.tests/bin
/polaris-integration.tests/.vs/polaris-integraion.tests/v17
/polaris-integration.tests/obj
/polaris-integration.tests/.vs
/polaris-gateway.integration-tests/obj
/polaris-gateway.integration-tests/bin
/shared.integration-tests/obj
/shared.integration-tests/bin
/polaris-integration.tests/.vs
/polaris-pipeline/pdf-generator.test-rig/
/polaris-common/polaris-common/bin
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
/polaris-gateway.integration-tests/local.runsettings
/MdsClient/bin/Debug
/MdsClient/bin/Debug
/MdsClient/obj
/MdsClient/obj
/MdsClient/bin/Debug
/MdsClient/bin/Debug/net8.0
/MdsClient/bin/Debug/net8.0/Common.dll
/MdsClient/bin/Debug/net8.0/Common.pdb
/Services/obj/Debug/net8.0
/Cps.Fct.Hk.Ui.Interfaces/bin/Debug/net8.0
/Cps.Fct.Hk.Ui.Interfaces/obj
/Cps.Fct.Hk.Ui.ServiceClient.Ddei/bin/Debug/net8.0
/Cps.Fct.Hk.Ui.ServiceClient.Ddei/obj
/Cps.Fct.Hk.Ui.ServiceClient.Uma/bin/Debug/net8.0
/Cps.Fct.Hk.Ui.ServiceClient.Uma/obj
/Cps.Fct.Hk.Ui.Services/bin/Debug/net8.0
/Cps.Fct.Hk.Ui.Services/obj
/DdeiClient/bin/Debug/net8.0
/DdeiClient/obj
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/.msCoverageSourceRootsMapping_Cps.Fct.Hk.Ui.Services.Tests
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Common.dll
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Common.pdb
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_Cps.Fct.Hk.Ui.Services.Tests
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Cps.Fct.Hk.Ui.Interfaces.dll
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Cps.Fct.Hk.Ui.Interfaces.pdb
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Cps.Fct.Hk.Ui.ServiceClient.Uma.dll
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Cps.Fct.Hk.Ui.ServiceClient.Uma.pdb
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Cps.Fct.Hk.Ui.Services.dll
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Cps.Fct.Hk.Ui.Services.pdb
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Cps.Fct.Hk.Ui.Services.Tests.dll
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Cps.Fct.Hk.Ui.Services.Tests.exe
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Cps.Fct.Hk.Ui.Services.Tests.pdb
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/DdeiClient.dll
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/DdeiClient.pdb
/Cps.Fct.Hk.Ui.Services.Tests/obj/Debug/net8.0/ref/Cps.Fct.Hk.Ui.Services.Tests.dll
/Cps.Fct.Hk.Ui.Services.Tests/obj/Debug/net8.0/refint/Cps.Fct.Hk.Ui.Services.Tests.dll
/Cps.Fct.Hk.Ui.Services.Tests/obj/Cps.Fct.Hk.Ui.Services.Tests.csproj.nuget.dgspec.json
/Cps.Fct.Hk.Ui.Services.Tests/obj/Debug/net8.0/apphost.exe
/Cps.Fct.Hk.Ui.Services.Tests/obj/Debug/net8.0/Cps.Fct.Hk.Ui.Services.Tests.AssemblyInfo.cs
/Cps.Fct.Hk.Ui.Services.Tests/obj/Debug/net8.0/Cps.Fct.Hk.Ui.Services.Tests.AssemblyInfoInputs.cache
/Cps.Fct.Hk.Ui.Services.Tests/obj/Debug/net8.0/Cps.Fct.Hk.Ui.Services.Tests.assets.cache
/Cps.Fct.Hk.Ui.Services.Tests/obj/Debug/net8.0/Cps.Fct.Hk.Ui.Services.Tests.csproj.AssemblyReference.cache
/Cps.Fct.Hk.Ui.Services.Tests/obj/Debug/net8.0/Cps.Fct.Hk.Ui.Services.Tests.csproj.FileListAbsolute.txt
/Cps.Fct.Hk.Ui.Services.Tests/obj/Debug/net8.0/Cps.Fct.Hk.Ui.Services.Tests.dll
/Cps.Fct.Hk.Ui.Services.Tests/obj/Debug/net8.0/Cps.Fct.Hk.Ui.Services.Tests.GeneratedMSBuildEditorConfig.editorconfig
/Cps.Fct.Hk.Ui.Services.Tests/obj/Debug/net8.0/Cps.Fct.Hk.Ui.Services.Tests.genruntimeconfig.cache
/Cps.Fct.Hk.Ui.Services.Tests/obj/Debug/net8.0/Cps.Fct.Hk.Ui.Services.Tests.pdb
/Cps.Fct.Hk.Ui.Services.Tests/obj/Debug/net8.0/Cps.Fct.Hk.Ui.Services.Tests.sourcelink.json
/Cps.Fct.Hk.Ui.Services.Tests/obj/project.assets.json
/Cps.Fct.Hk.Ui.Services.Tests/obj/project.nuget.cache
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/.msCoverageSourceRootsMapping_Cps.Fct.Hk.Ui.Services.Tests
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Common.dll
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Common.pdb
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_Cps.Fct.Hk.Ui.Services.Tests
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Cps.Fct.Hk.Ui.Interfaces.dll
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Cps.Fct.Hk.Ui.Interfaces.pdb
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Cps.Fct.Hk.Ui.ServiceClient.Uma.dll
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Cps.Fct.Hk.Ui.ServiceClient.Uma.pdb
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Cps.Fct.Hk.Ui.Services.dll
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Cps.Fct.Hk.Ui.Services.pdb
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Cps.Fct.Hk.Ui.Services.Tests.dll
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Cps.Fct.Hk.Ui.Services.Tests.exe
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/Cps.Fct.Hk.Ui.Services.Tests.pdb
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/DdeiClient.dll
/Cps.Fct.Hk.Ui.Services.Tests/bin/Debug/net8.0/DdeiClient.pdb
