/.idea/
/.vs
/polaris-pipeline/pdf-generator/Aspose.Total.NET.lic
/polaris-pipeline/text-extractor/mock-ocr.settings.json
/polaris-pipeline/pdf-generator/Aspose.Total.Product.Family.lic
azurite
/polaris-terraform/.vs
.cache_ggshield
/__blobstorage__
/__queuestorage__
/__azurite_db_table__.json
/__azurite_db_queue__.json
/__azurite_db_queue_extent__.json
/__azurite_db_blob__.json
/__azurite_db_blob_extent__.json
