@import "node_modules/govuk-frontend/dist/govuk/index";

$level-height: 3.5rem;

:host {
  display: block;
}

a {
  color: $govuk-brand-colour;
  @include govuk-font($size: 19);
}

.background {
  box-shadow: 0 0 0 100vmax govuk-colour("light-grey");
  clip-path: inset(0 -100vmax);
  background-color: govuk-colour("light-grey");
}

.background-divider {
  height: 1px;
  box-shadow: 0 0 0 100vmax $govuk-border-colour;
  clip-path: inset(0 -100vmax);
  background-color: $govuk-border-colour;
}

.background-left-only {
  background-color: govuk-colour("light-grey");
  position: relative;
  display: grid;
}

.background-left-only:before {
  content: "";
  background-color: govuk-colour("light-grey");
  position: absolute;
  height: 100%;
  width: 100vw;
  left: -100vw;
}

@mixin horizontal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: $level-height;
  display: flex;
  align-items: center;
  & > li {
    float: left;
    box-sizing: border-box;
  }
}

.level-1 {
  height: $level-height;
  display: flex;
  align-items: center;
  ul {
    @include horizontal-list();
    li {
      margin: 0 1.8rem 0 0;
      a {
        font-weight: bold;
      }
    }
  }
  div:last-child {
    margin-left: auto;
  }
}

$arrow-length: $level-height/2;

.level-2 {
  height: $level-height;
  display: flex;
  align-items: center;
  background-color: govuk-colour("white");

  div:first-child {
    @include govuk-font($size: 19);
    font-weight: bold;
    background-color: govuk-colour("light-grey");
    display: flex;
    align-items: center;
    height: $level-height;

    .name {
      display: block;
      min-width: 12rem;
    }

    &:after {
      content: "";
      background-color: govuk-colour("white");
      display: inline-block;
      border-left: $arrow-length solid govuk-colour("light-grey");
      border-bottom: $arrow-length solid transparent;
      border-top: $arrow-length solid transparent;
    }

    &.please-wait {
      color: govuk-colour("dark-grey");
    }
  }

  & > ul {
    @include horizontal-list();
    margin-left: 1rem;

    & > li {
      margin: 0 1.8rem 0 0;
      position: relative;

      &.selected {
        &:before {
          display: inline-block;
          content: "";
          height: 5px;
          left: 0;
          right: 0;
          background: #1d70b8;
          position: absolute;
          bottom: -0.7em;
        }
      }

      &.dropdown {
        padding-right: 25px !important;
        &:after {
          left: inherit;
          right: 0;
          top: 10px;
          content: "";
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 8px solid #1d70b8;
          position: absolute;
        }

        ul {
          display: none;
        }
      }

      &.dropdown.active {
        &:after {
          transform: rotate(180deg);
        }

        ul {
          display: block;
          position: absolute !important;
          z-index: 99;
          top: 30px;
          left: 0;
          right: inherit;
          background: #f5f5f5;
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 250px;
          box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
          border-top: 5px solid #1d70b8;

          li {
            padding: 0 !important;
            margin: 0 !important;

            a {
              display: inline-block;
              width: 92%;
              font-size: 1.3rem;
              padding: 2% 4%;

              &.disabled {
                color: #b1b4b6;
                pointer-events: none;
                cursor: default;
              }
            }
          }
        }
      }
    }
  }

  div:last-child {
    margin-left: auto;
  }
}
