@import "node_modules/govuk-frontend/dist/govuk/index";
$level-height: 3rem;

:host {
  display: block;
}

a.govuk-link {
  color: $govuk-brand-colour;
  @include govuk-font($size: 19);
  text-decoration: none;

  &:visited {
    color: $govuk-brand-colour;
  }
}

.background {
  box-shadow: 0 0 0 100vmax govuk-colour("light-grey");
  clip-path: inset(0 -100vmax);
  background-color: govuk-colour("light-grey");
}

.background-divider {
  height: 1px;
  box-shadow: 0 0 0 100vmax $govuk-border-colour;
  clip-path: inset(0 -100vmax);
  background-color: $govuk-border-colour;
  z-index: -1;
}

.background-left-only {
  background-color: govuk-colour("light-grey");
  position: relative;
  display: grid;
}

.background-left-only:before {
  content: "";
  background-color: govuk-colour("light-grey");
  position: absolute;
  height: 100%;
  width: 100vw;
  left: -100vw;
}

@mixin horizontal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: $level-height;
  display: flex;
  align-items: center;
  & > li {
    float: left;
    box-sizing: border-box;
  }
}

.level-1 {
  height: $level-height;
  display: flex;
  align-items: center;
  ul {
    @include horizontal-list();
    li {
      margin: 0 1.8rem 0 0;
      a {
        font-weight: bold;
      }
    }
  }
}

$arrow-length: $level-height/2;

.level-2 {
  height: $level-height;
  display: flex;
  align-items: center;
  background-color: govuk-colour("white");

  div:first-child {
    @include govuk-font($size: 19);
    font-weight: bold;
    background-color: govuk-colour("light-grey");
    display: flex;
    align-items: center;
    height: $level-height;

    .name {
      display: block;
      //min-width: 12rem;
    }

    &:after {
      content: "";
      background-color: govuk-colour("white");
      display: inline-block;
      border-left: $arrow-length solid govuk-colour("light-grey");
      border-bottom: $arrow-length solid transparent;
      border-top: $arrow-length solid transparent;
    }

    &.please-wait {
      color: govuk-colour("dark-grey");
    }
  }

  & > ul {
    @include horizontal-list();
    margin-left: 1rem;

    li {
      margin: 0 1.8rem 0 0;
    }
  }

  .slot-container {
    margin-left: auto;
  }

  ul:last-child {
    li {
      margin-right: 0;
    }
  }
}

.dropdown {
  padding-right: 25px !important;

  &:after {
    left: inherit;
    right: 0;
    top: 10px;
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #1d70b8;
    position: absolute;
  }

  ul {
    display: none;
  }
}

.dropdown.active {
  &:after {
    transform: rotate(180deg);
  }

  ul {
    display: block;
    position: absolute !important;
    top: 35px;
    background: #f5f5f5;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 250px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-top: 5px solid #1d70b8;

    &.align-right {
      right: 0;
    }

    li {
      padding: 0 !important;
      margin: 0 !important;
      a {
        display: inline-block;
        width: 92%;
        font-size: 1.3rem;
        padding: 2% 4%;

        &.disabled {
          color: #b1b4b6;
          pointer-events: none;
          cursor: default;
        }
      }
    }
  }
}

ul:has(.dropdown) {
  @include horizontal-list();
  margin-left: 1rem;
  li {
    position: relative;
  }
}

.linkButton {
  margin: 0.125rem;
  display: inline;
  background: transparent;
  border-width: 0;
  cursor: pointer;
  font-size: 1.187rem;
  width: fit-content;
  color: #1d70b8;
  @include govuk-font($size: 19);

  &:focus {
    color: #0b0c0c;
    background-color: #ffdd00;
    box-shadow: 0 0.25rem 0 #0b0c0c;
    outline: 0.1875rem solid transparent;
  }
}
