@import "../../../../../styles.scss";

:global(.govuk-tabs > .govuk-tabs__panel) {
  padding: 0 !important;
  &:focus {
    outline: #ffdd00 auto 0.0625rem;
  }
}

:global(.govuk-form-group) {
  margin-bottom: 0 !important;
}

.tabsWrapper {
  display: flex;
  padding-top: 0.3125rem;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 0.0625rem solid $govuk-border-colour;
}
.tabsList {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 0;
  padding: 0;
  min-width: 85%;
  max-width: 900px;
  margin: 0 3px;
  overflow-y: hidden;
  overflow-x: auto;
}

.activeTab {
  background-color: white;
  border: 0.0625rem solid $govuk-border-colour;
  border-bottom: none;
  .tabButton {
    padding-right: 3.125rem;
    padding-top: 1.875rem;
  }
}
.inactiveTab {
  border: none;
  background-color: #f3f2f1;
  text-decoration: underline;
}

.tabListItem {
  display: flex;
  position: relative;
  max-width: 15.625rem;
  margin-right: 0.3125rem;
}
.tabButton {
  font-family: "TransportNew", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  width: 100%;
  white-space: nowrap;
  padding: 1.25rem 1rem;
  font-size: 1.1875rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 0.1875rem;

  &:focus {
    outline: 0.1875rem solid rgba(0, 0, 0, 0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -0.125rem #fd0, 0 0.25rem #0b0c0c;
  }
}
.tabLabel {
  max-width: 11.25rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.inactiveTab:hover {
  text-decoration: underline;
  text-decoration-thickness: max(0.1875rem, 0.1875rem, 0.12em);
}

.tabCloseButton {
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: transparent;
  position: absolute;
  border: none;
  right: 0.9375rem;
  top: 1.5625rem;
  padding: 0;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  background-color: #b1b4b6;
  &:focus {
    outline: 0;
    background-color: #ffdd00;
    color: #0b0c0c;
  }
}

.arrowBtnsWrapper {
  display: flex;
  justify-content: space-between;
}

.tabNextButton,
.tabPreviousButton {
  height: 40px;
  svg {
    fill: #1d70b8;
  }
  &:disabled {
    cursor: not-allowed;
    svg {
      fill: #778087;
    }
  }
}

.tabPreviousButton {
  svg {
    transform: rotate(90deg);
  }
}
.tabNextButton {
  svg {
    transform: rotate(-90deg);
  }
}

.customSelect {
  margin-bottom: 0px;
  width: 80px;
}
.select option {
  background-color: #fff;
  color: #333;
  font-size: 12px;
  max-height: 20px;
}
