@import "../../../../../styles.scss";

:global(.govuk-tabs > .govuk-tabs__panel) {
  padding: 0 !important;
}
.tabsWrapper {
  display: flex;
  padding-top: 5px;
  overflow-y: hidden;
  overflow-x: auto;
  border-bottom: 1px solid $govuk-border-colour;
}
.tabsList {
  display: flex;
  align-items: flex-end;
  align-content: baseline;
  margin-bottom: 0px;
  padding: 0;
}

.activeTab {
  background-color: white;
  border: 1px solid $govuk-border-colour;
  border-bottom: none;
  .tabButton {
    padding-right: 50px;
    padding-top: 30px;
  }
}
.inactiveTab {
  border: none;
  background-color: #f3f2f1;
  text-decoration: underline;
}

.tabListItem {
  display: flex;
  position: relative;
  max-width: 250px;
  margin-right: 5px;
}
.tabButton {
  font-family: "TransportNew", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  width: 100%;
  white-space: nowrap;
  padding: 20px;
  font-size: 1.1875rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 3px;

  &:focus {
    outline: 3px solid rgba(0, 0, 0, 0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  }
}
.tabLabel {
  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.inactiveTab:hover {
  text-decoration: underline;
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}

.tabCloseButton {
  width: 25px;
  height: 25px;
  background-color: transparent;
  position: absolute;
  border: none;
  right: 15px;
  top: 25px;
  padding: 0;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  background-color: #b1b4b6;
  &:focus {
    outline: 0;
    background-color: #ffdd00;
    color: #0b0c0c;
  }
}
