.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.characterCount {
  & :global(.govuk-form-group) {
    margin-bottom: 0;
  }
  & :global(.govuk-textarea) {
    margin-bottom: 0.3125rem;
  }
}
