.dropDownButtonWrapper {
  position: relative;
}

.dropDownButton {
  padding: 0.3125rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  svg {
    fill: #1d70b8;
  }
  &:focus {
    svg {
      fill: #000;
    }
  }
  &:disabled {
    cursor: not-allowed;
    svg {
      fill: #b1b4b6;
    }
  }
  &:hover:not(:disabled):not(:focus) {
    svg {
      fill: #fff;
    }
  }
}
.upArrow {
  svg {
    transform: rotate(-180deg);
  }
}

.panel {
  position: absolute;
  top: 2.375rem;
  right: 0;
  border-bottom-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  background: #fff;
  z-index: 7;
  overflow-y: auto;
  max-height: 31.25rem;
  filter: drop-shadow(0 1px 0.15rem #000);
}

.panelList {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.panelListWithSeparator {
  & li:last-child {
    border-top: 1px solid #b1b4b6;
  }
}

.panelListItem {
  width: 100%;
  & button {
    margin: 0;
    text-align: right;
    font-size: 1rem;
    padding: 0.75rem;
    width: 100%;
    color: #000;
  }
  & :hover:not(:disabled):not(:focus) {
    color: #000;
    background: #ddd;
  }
  & button:disabled {
    cursor: not-allowed;
    color: #b1b4b6;
  }
}

.dropdownBtnName {
  padding-right: 0.625rem;
  font-size: 1rem;
}

.btnWithText {
  display: flex;
  font-weight: bold;
  background: #185c97;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  color: #fff;
  svg {
    fill: #fff;
    scale: 0.75;
  }
}
