.dropDownButtonWrapper {
  position: relative;
}

.dropDownButton {
  padding: 0.3125rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  svg {
    fill: #1d70b8;
  }
  &:disabled {
    cursor: not-allowed;
    svg {
      fill: #b1b4b6;
    }
  }
  &:hover:not(:disabled):not(:focus) {
    svg {
      fill: #fff;
    }
  }
}
.upArrow {
  svg {
    transform: rotate(-180deg);
  }
}

.panel {
  position: absolute;

  right: 0.125rem;
  border-radius: 0.3125rem;
  background: #fff;
  z-index: 5;
  filter: drop-shadow(0 1px 0.15rem #000);
}

.tabList {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

.tabListItem {
  padding: 0.3125rem 0;
  & button:disabled {
    cursor: not-allowed;
    color: #b1b4b6;
  }
}
