.errorModalContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1.25rem 1.875rem;

  .errorMessage {
    margin: 0;
  }
  .errorOkBtn {
    width: 3.75rem;
    display: block;
    text-align: center;
  }
  .errorBtnWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1.25rem;
  }
}
