.guidanceButtonWrapper {
  position: relative;
  display: inline-block;
}

.guidanceButton {
  padding: 0.3125rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  svg {
    fill: #1d70b8;
  }
  &:focus {
    svg {
      fill: #000;
    }
  }
  &:disabled {
    cursor: not-allowed;
    svg {
      fill: #b1b4b6;
    }
  }
  &:hover:not(:disabled):not(:focus) {
    color: #003078;
    text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
    background: transparent;
    svg {
      fill: #003078;
    }
  }
}

.panel {
  position: absolute;
  top: 2.375rem;
  right: 0;
  width: 31.25rem;
  padding: 1rem;
  border-radius: 0.3125rem;
  background: #1d70b8;
  color: #fff;
  z-index: 7;
  overflow-y: auto;
  max-height: 31.25rem;
  filter: drop-shadow(0 1px 0.15rem #000);
}

.guidancePanelCloseBtn {
  position: absolute;
  background: #000;
  padding: 0.625rem;
  border: 0;
  right: 0;
  top: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & svg {
    scale: 1.5;
  }
  &:hover {
    background: #00703c;
  }
  &:focus {
    background: #ffdd00;
    color: #000;
    outline: none;
  }
}
.helpButtonWrapper {
  display: flex;
  flex-direction: row;
}
.helpIcon {
  width: 1.5625rem;
  margin-right: 0.3125rem;
}
