/node_modules/
/lib/
/test/
custom-elements.json
# top level source
cps-global-nav.js
cps-global-nav.js.map
cps-global-nav.d.ts
cps-global-nav.d.ts.map
# only generated for size check
cps-global-nav.bundled.js