.contentWrapper {
  display: flex;
  justify-content: center;
}

.tableWrapper {
  width: 75%;
  max-height: 500px;
  overflow-y: scroll;
}

.tableCell {
  background-color: red;
}
.heading {
  display: block;
  text-align: center;
}
