.contentWrapper {
  display: flex;
  justify-content: center;
}

.tableWrapper {
  width: 75%;
  max-height: 500px;
  overflow-y: scroll;
}

.tableCell {
  background-color: red;
}
.heading {
  display: block;
  text-align: center;
}
.imageContainer {
  width: 25rem;
  height: 12.5rem;
  overflow: hidden;
  position: relative;
}
.image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
