# Arg 1: FileType or DocType
# Arg 2: Deny, Read, ReadWrite
# FileType third arg is extension with dot
# DocType third arg is name (without spaces)
# System will read top to bottom to assess a document

#FileType ReadWrite * 

FileType Read .xlsx
FileType Read .xls
FileType Read .txt
FileType Deny .visio

DocType ReadWrite *
DocType Deny 103
