# Notes:
# ======
#
# Commenting
# ----------
# Any line starting with # is ignored as a comment
# If # is used within a line then all text before is read and all text after
#     is ignored.
#
# Rules
# -----
# A config line is expected to have the following format:
#   {RuleType} followed by whitespace {AccessLevel} followed by whitespace {Descriptor}
#   e.g. 
#     FileType  Read      .xlsx
#     DocType   ReadWrite 103
#   
#   where:
#     RuleType = FileType or DocType
#     AccessLevel = Deny, Read or ReadWrite
#     Descriptor (for FileType rules) = file extension e.g. .docx
#     Descriptor (for DocType rules)  = numeric DocType in CMS e.g. 103
#       
# Arguments after the first three are allowed but have no functional use
#  but can be used for human-readable notes
#  e.g. DocType Deny .png these words are allowed but not read by the code
#       
# Wildcard
# --------
# The * character can be used to indicate all documents
#  e.g.
#   FileType  Read  *
#


# Arg 1: FileType or DocType
# Arg 2: Deny, Read, ReadWrite
# FileType third arg is extension with dot
# DocType third arg is name (without spaces)
# System will read top to bottom to assess a document

#FileType ReadWrite * 

FileType Read .xlsx
FileType Read .xls
FileType Read .txt
FileType Deny .visio

DocType ReadWrite *
DocType Deny 103
