.accordion-controls {
  text-align: right;
}

.accordion-expand-all {
  display: inline;
  background: transparent;
  border-width: 0;
  font-size: 1rem;
  color: #005ea5;
  cursor: pointer;
  padding: 0.875rem 0.625rem 0.75rem 0.625rem;
  margin-bottom: 0.25rem;
  &:focus {
    outline: 0.1875rem solid rgba(0, 0, 0, 0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -0.125rem #fd0, 0 0.25rem #0b0c0c;
    text-decoration: none;
  }
  &:hover:not(:active):not(:focus) {
    background-color: #f8f8f8;
  }
}

.accordion .accordionSectionClosed .accordion-section-body {
  display: none;
}

.accordion {
  border-bottom-width: 0.0625rem;
  border-bottom-color: #bfc1c3;
  border-bottom-style: solid;
}

.accordion .accordion-section {
  border-top-width: 0.0625rem;
  border-top-color: #bfc1c3;
  border-top-style: solid;
}

.accordion h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.accordion .accordion-table__cell {
  padding-right: 0.3125rem;
}
.accordion .accordion-link-button {
  font-size: 1rem;
}

.accordion .accordion-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
  border-width: 0;
  font-size: 1rem;
  width: 100%;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  padding: 0.875rem 0.3125rem 0.75rem 0;

  align-items: center;
  &:focus {
    outline: 0.1875rem solid rgba(0, 0, 0, 0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -0.125rem #fd0, 0 0.25rem #0b0c0c;
    text-decoration: none;
  }
  &:hover:not(:active):not(:focus) {
    background-color: #f8f8f8;
  }
}

.accordion .accordion-section-header h2 {
  color: inherit;
  text-align: left;
}

.accordion .icon {
  right: 0.9375rem;
  height: 16px;
  width: 16px;
  /* Note: you may have to update these URL paths */
  /* PNG fallback for SVG */
  background-image: url("icon-plus-minus.png");
  /* SVG sprite */
  background: url("icon-plus-minus.svg"),
    linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-position: 0 -16px;
}

.accordion .accordion-section-body {
  font-size: 1rem;
}
.accordion .accordion-section-read-warning {
  display: block;
  margin-top: 0.9375rem;
}

.accordion .accordionSectionOpened .icon {
  background-position: 0 0;
}

.accordion .accordion-section-document {
  padding-top: 0.625rem;
}
.accordion .accordion-section-no-document {
  padding: 0.625rem 0;
}
.accordion .accordion-document-date-title {
  font-size: 1rem;
  display: block;
  text-align: right;
  margin-top: 0.3125rem;
  margin-right: 0.625rem;
}
.accordion .accordion-document-list {
  list-style: none;
  padding: 0;
  border-top: 0.0625rem solid #bfc1c3;
  margin-top: 0.3125rem;
  margin-bottom: 0;
}
.accordion .accordion-document-list :last-child {
  border-bottom: none;
}
.accordion .accordion-document-list-item {
  display: flex;
  flex-direction: column;
  border-bottom: 0.0625rem solid #bfc1c3;
}

.accordion .accordion-document-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 1rem;
  justify-content: space-between;
}

.accordion .accordion-document-link-button,
.accordion .accordion-document-link-name {
  padding: 0.625rem 0.9375rem 0.625rem 0;
  min-width: 30%;
  max-width: 80%;
  word-wrap: break-word;
  font-size: 1rem;
  text-align: left;
}

.accordion .accordion-document-date {
  white-space: nowrap;
}

.accordion .accordion-document-read-warning {
  margin-bottom: 0.3125rem;
}
.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
