.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: baseline;
  background: #f3f2f1;
  color: #505a5f;
  padding: 0.5em;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.attachmentIcon {
  width: 1.25rem;
}
.attachmentsList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 1rem;
  margin: 0;
  padding: 0;
  > :first-child {
    margin-left: 8.125rem;
  }
}
.attachmentCountText {
  position: absolute;
}
.separator {
  color: #0b0c0c;
}
.tabListItem {
  display: flex;
  align-items: center;
}
.documentBtn {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.3rem;
}
