.content {
  height: 50px;
  font-size: 1rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #b1b4b6;
  .btnReportIssue {
    margin: 0;
  }
}
