.content {
  font-size: 1rem !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.25rem 1.25rem;
  border-bottom: 0.0625rem solid #b1b4b6;
}

.areaModeBtn {
  margin-right: 0.625rem;
  display: flex;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
  border: none;
  border-radius: 0.3125rem;
  position: relative;
  width: 2.3rem;
  height: 2.3rem;
  background: #185c97;
  cursor: pointer;
  & svg {
    width: 100%;
    scale: 1.5;
    fill: #fff;
  }
  &:focus {
    & svg {
      fill: #000;
    }
  }
}
