.content {
  font-size: 1rem !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.25rem 1.25rem;
  border-bottom: 0.0625rem solid #b1b4b6;
  .btnReportIssue {
    margin: 0;
  }

  .btnOpenPdf {
    display: none;
  }
}
