.deletedDocument {
  min-height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0;
}

.attachmentHeaderContent {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  background: #f3f2f1;
  color: #505a5f;
  padding: 0.5em;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-left: 5px solid #d4351c;
}

.failedAttachmentWarning {
  color: #d4351c;
  font-style: italic;
}