.trackerSummary {
  margin-top: 1.875rem;
  display: flex;
  flex-direction: column;
  color: #505a5f;
}

.caseSearchReadyText {
  margin-top: 1rem;
  font-weight: bold;
  color: #0b0c0c;
}
.documentsSearchIndexText {
  font-weight: bold;
}
.documentsReadyToReadText {
  font-weight: bold;
}
.totalDocuments {
  font-weight: bold;
}
