.modalContent {
  display: block;
  padding: 0;
  min-width: 74rem;

  :global(.govuk-form-group) {
    margin-bottom: 0;
  }

  .modalContentHeading {
    margin: 0;
    display: block;
    width: 100%;
    background: #f3f2f1;
    border-bottom: 3px dashed #b1b4b6;
  }

  .confirmationMessage {
    margin: 0;
    text-align: left;
  }

  .btnWrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 1.875rem;
    padding: 0 30px;
  }
  .modalHeadWrapper {
    background: #f3f2f1;
    padding: 30px;
    border-bottom: 1px solid #b1b4b6;
  }
  .modalBodyWrapper {
    border-bottom: 3px dashed #b1b4b6;
    padding: 0 30px;
  }
}

.select {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 200px;
  :global(.govuk-select) {
    width: 100%;
  }
}
.sortLabel {
  margin-bottom: 0;
  margin-right: 0.625rem;
}
.selectSection {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.selectInputWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}
.underRedactionForm {
  width: 100%;
}
.textAreaSection {
  width: 600px;
}
.errorMsg {
  color: red;
}
.editBtnWrapper {
  display: flex;
  flex-direction: column;
}
