.modalContent {
  display: block;
  padding: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  :global(.govuk-form-group) {
    margin-bottom: 0;
  }
  .modalTitleWrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px dashed #b1b4b6;
  }
  .modalContentHeading {
    margin: 0;
    display: block;
    background: #f3f2f1;
    max-width: 70%;
  }
  .supportingNotesGuidance {
    position: absolute;
    right: 0;
    top: -10px;
  }
  .redactionLogGuidanceTitle,
  .supportingNotesGuidanceTitle {
    font-weight: bold;
    font-size: 19.2px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .redactionLogGuidanceList {
    margin: 0;
    padding-left: 15px;
    & li {
      color: rgba(255, 255, 255, 0.8);
    }
    & li:last-of-type {
      font-weight: bold;
      color: #fff;
    }
  }
  .supportingNotesGuidanceList {
    margin: 0;
    padding-left: 15px;
    & li {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  .confirmationMessage {
    margin: 0;
    text-align: left;
  }

  .btnWrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 1.875rem;
    padding: 0 30px;
  }
  .modalHeadWrapper {
    background: #f3f2f1;
    padding: 30px;
    border-bottom: 1px solid #b1b4b6;
  }
  .modalBodyWrapper {
    border-bottom: 3px dashed #b1b4b6;
    padding: 0 30px;
  }
}

.select {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 200px;
  :global(.govuk-select) {
    width: 100%;
  }
}
.sortLabel {
  margin-bottom: 0;
  margin-right: 0.625rem;
}
.selectSection {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-top: 20px;
}
.selectInputWrapper {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  flex-wrap: wrap;
}
.underRedactionForm {
  width: 100%;
}
.textAreaSection {
  width: 100%;
  max-width: 600px;
  position: relative;
}
.errorMsg {
  color: red;
}
.editBtnWrapper {
  display: flex;
  flex-direction: column;
}

.savedBanner,
.savingBanner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #fff;
  font-size: 19px;
  height: 50px;
  font-weight: bold;
}
.savingBanner {
  background-color: #1d70b8;
}
.savedBanner {
  background-color: #00703c;
}
