.underRedactionContentList {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 40px;
}
.headingWrapper {
  display: flex;
  align-items: baseline;
}
.docIcon {
  position: relative;
  width: 20px;
  margin-right: 10px;
  top: 2px;
}
