.renamePanel {
  width: 100%;
  background: #fff;
  position: relative;
  :global(.govuk-form-group) {
    margin-bottom: 1.5625rem;
  }
}

.savedBanner,
.savingBanner {
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.1875rem;
  font-weight: bold;
  padding-left: 0.9375rem;
}
.savingBanner {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1d70b8;
}
.savedBanner {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #00703c;
  overflow: hidden;
  .whiteTickIcon {
    width: 2.7rem;
    fill: #fff;
    float: left;
    margin-right: 0.25rem;
    margin-top: -1.5rem;
  }
}

.renameHeader {
  background: #f3f2f1;
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  border-bottom: 1px solid #b1b4b6;
  h3 {
    font-size: 1.1875rem;
    margin: 0.625rem 3.5rem 0.625rem 0.3125rem;
  }
}
.renameTitle {
  margin: 1rem 1.1rem;
  font-size: 1.1875rem;
  padding-left: 0.9375rem;
}
.renameDocumentName {
  color: #505a5f;
}
.renameTextInput {
  position: relative;
  padding-left: 1.25rem;
}
.renameBody {
  margin: 0 1rem;
}
.btnWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  margin-top: 0;
}
.cancelBtn {
  margin-left: 1rem;
  padding: 0.625rem;
  &:hover:not(:disabled):not(:focus) {
    color: #003078;
    text-decoration-thickness: max(3px, 0.1875rem, 0.12rem);
    background: transparent;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.errorSummaryWrapper {
  &:focus {
    outline: 0.2rem solid #ffdd00;
  }
  :global(.govuk-error-summary) {
    margin-bottom: 1.5rem;
    padding: 0.625rem;
  }
}

.renamePanelCloseBtn {
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: content-box;
  padding: 0;
  border: 0;
  background: #000;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2.875rem;
  height: 2.875rem;
  margin: 0;

  &:hover:not(:disabled):not(:focus) {
    background: #00703c;
  }
  &:focus {
    background: #ffdd00;
    color: #000;
    outline: none;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.spinnerWrapper {
  margin-top: -1.25rem;
  :global(.spinner) {
    border: 0.35rem solid #dee0e2;
    margin: -0.25rem 0.25rem 0.25rem 0.25rem;
    border-top-color: #1d70b8;
  }
}
