.container {
  margin-top: 25px;
}

.suffix {
  padding: 0 !important;
  position: relative;
  border: none;
}

.button {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  right: -3px;
  top: -2px;
  width: 41px;
  height: 40px;
  border: none;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
  background-color: #1d70b8;
  &:focus {
    outline: 4px solid #ffdd00;
    outline-offset: 0;
    box-shadow: inset 0 0 0 4px #0b0c0c;
  }
}

.button:disabled {
  background-color: #cccccc;
}
