.container {
  margin-top: 1.5625rem;
  position: relative;
  display: flex;
  :global(.govuk-form-group) {
    width: 85%;
  }
}

.suffix {
  padding: 0 !important;
  position: relative;
  border: none;
}

.button {
  position: relative;
  top: 1.875rem;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
  background-color: #1d70b8;
  &:focus {
    outline: 0.25rem solid #ffdd00;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.25rem #0b0c0c;
  }
}

.button:disabled {
  background-color: #cccccc;
}
