.container {
  margin-top: 1.5625rem;
}

.suffix {
  padding: 0 !important;
  position: relative;
  border: none;
}

.button {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  top: -0.125rem;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
  background-color: #1d70b8;
  &:focus {
    outline: 0.25rem solid #ffdd00;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.25rem #0b0c0c;
  }
}

.button:disabled {
  background-color: #cccccc;
}
