.redactionWarningModal {
  max-width: 35%;
}
.contentWrapper {
  padding: 2rem 2rem;
  position: relative;
  & :global(.govuk-warning-text__icon) {
    left: 30px;
    top: 50px;
  }
  & :global(.govuk-checkboxes__label) {
    padding: 0px 15px 5px;
    margin-top: -5px;
  }
}

.modalHeader {
  position: relative;
  display: flex;
  border-bottom: 1px solid #b1b4b6;
  background: #f3f2f1;
  padding: 0 2rem;
}
.contentText {
  font-weight: bold;
  margin-left: 40px;
}
.actionWrapper {
  display: flex;
  align-items: baseline;
  margin-top: 2rem;
  .continueBtn {
    margin-right: 1rem;
  }
}
.mainText {
  margin-bottom: 40px;
}
