node_modules

# Ignore artifacts:
build
coverage
build-cypress
coverage-cypress
coverage-merged
report
report-cypress
.nyc_output

public/*.js
src/react-pdf-highlighter
src/mock-api/data/pdfs/pdf-strings.json
deploy-pipeline.yml
