.uniqueReferenceNumber {
  margin-bottom: 0.625rem !important;
}
.defendantsList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}
.defendantDetailsLink {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-align: left;
}
.defendantDetails {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  .defendantName {
    margin-bottom: 0;
  }
  .defendantDOB {
    font-size: 1rem;
  }
}

.phaseBanner {
  [class*="govuk-tag"] {
    display: none;
  }
}

.mainContent {
  margin-top: -1.5625rem;
  .rightColumn {
    margin-top: -3.4375rem;
    height: 100vh;
  }
}

.leftColumn {
  padding-right: 3.125rem !important;
  overflow-y: auto;
  height: calc(100vh - 3.4375rem);
}

.chargesCustodyTime {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  margin-top: 1.25rem;
}
.charges {
  min-height: 12.5rem;
  margin-top: 1.25rem;
  font-size: 1rem;
  background-color: #1d70b8;
  color: white;
  padding: 1.25rem;

  * {
    color: white !important;
  }
  ul {
    margin: 0;
    list-style-type: disc !important;
    padding: 0 0.625rem;
  }
  li {
    margin: 0;
    padding: 0;
  }
}

.contentArea {
  &:focus {
    outline: 0.2rem solid #ffdd00;
  }
}

.sidePanelLabel {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
