.keyDetails {
  .defendantName {
    margin-bottom: 0;
  }

  .uniqueReferenceNumber {
    color: #505a5f;
    margin-bottom: 0;
    font-weight: 400;
  }

  .defendantDOB {
    font-size: 1rem;
    color: #505a5f;
    margin-bottom: 0;
    font-weight: 400;
  }

  .dobValue,
  .ageValue {
    color: #000;
    font-weight: bold;
  }

  .defendantDetailsLink {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  :global(.govuk-tag) {
    font-weight: 400;
    text-transform: none;
  }

  :global(.govuk-tag--blue) {
    color: #0c2d4a;
    margin-top: 0.15625rem;
  }
}

.phaseBanner {
  [class*="govuk-tag"] {
    display: none;
  }
}

.mainContentWithNotifications {
  margin-top: 0.6rem; // enough margin to give space for the notifications button
}

.mainContent {
  .rightColumn {
    margin-top: -3.4375rem;
    height: 100vh;
  }

  .notesArea {
    padding: 0;

    &:focus {
      outline: 0.2rem solid #ffdd00;
    }
  }

  .sidePanelArea {
    &:focus {
      outline: 0.2rem solid #ffdd00;
    }
  }
}

.leftColumn {
  overflow-y: auto;
  height: calc(100vh - 3.4375rem);
}

.charges {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  font-size: 1rem;
  background-color: #1d70b8;
  color: #fff;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  margin-bottom: 1.25rem;

  * {
    color: #fff !important;
  }

  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }

  h2:not(:first-child) {
    margin: 10px 0 0;
  }

  h2:first-child {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.sidePanelLabel {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.resizeBtnWrapper {
  display: inline-block;
  position: sticky;
  top: 50%;
  z-index: 4;
  margin-left: -0.3rem;
}

.resizeBtn {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: #1d70b8;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    transform: rotate(90deg);
    fill: #fff;
    scale: 0.8;
    margin-left: -0.3125rem;
  }

  &:hover:not(:disabled):not(:focus) {
    background-color: #003078;
  }

  &:focus {
    color: #0b0c0c;
    background-color: #ffdd00;
    box-shadow: 0 0 2px #0b0c0c;
    outline: 0.1875rem solid transparent;

    svg {
      fill: #000;
    }
  }
}

.externalRedirectBtnWrapper {
  margin-top: 0.5rem;
  .newWindowBtn {
    margin-top: 1rem;
    margin-bottom: 0rem;
    svg {
      width: 0.85em;
      height: 0.85em;
      margin: 0 0 -0.1rem 0.15rem;
    }
  }
}

.inFullScreen {
  svg {
    margin-left: 0;
    transform: rotate(-90deg);
  }
}

.reclassifyMode {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.visibilityHidden {
  visibility: hidden;
}

.displayNone {
  display: none;
}
