.btnWrapper {
  display: flex;
  align-items: baseline;
}
.btnCancel {
  margin-left: 1.125rem;
}

.otherProducerWrapper {
  margin-left: 0.9375rem;
  & :global(.govuk-form-group) {
    padding-left: 0.9375rem;
    border-left: 0.25rem solid #b1b4b6;
  }
}
.otherProducerNameError {
  margin-left: 0.9375rem;
  & :global(.govuk-form-group) {
    padding-left: 0.9375rem;
    border-left: 0.25rem solid #d4351c;
  }
}
.producerSelectWrapper {
  > :global(.govuk-form-group) {
    margin-bottom: 0.625rem;
  }
  margin-bottom: 1.875rem;
}

.errorSummaryWrapper {
  &:focus {
    outline: 0.2rem solid #ffdd00;
  }
  :global(.govuk-error-summary) {
    margin-bottom: 1.25rem;
    padding: 0.625rem;
  }
}

.alertContent {
  max-width: 32.5rem;
  padding: 1.25rem 1.875rem 1.875rem;
}

.actionButtonsWrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 1.875rem;
}
.highlight {
  background-color: #ffe5cc;
  border-bottom: 0.125rem solid #ffb266;
  padding: 0 0.375rem;
}
.backBtn {
  padding: 0;
}
.btnCancel,
.btnChange {
  padding: 0.625rem;
}

.btnCancel,
.btnChange,
.backBtn {
  &:hover:not(:disabled):not(:focus) {
    color: #003078;
    text-decoration-thickness: max(0.1875rem, 0.1875rem, 0.12rem);
    background: transparent;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.bannerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  .notificationBannerText {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
  }
  .spinnerWrapper {
    :global(.spinner) {
      border: 0.65rem solid #dee0e2;
      border-top-color: #1d70b8;
    }
  }
}
.notificationBanner {
  margin: 1.25rem 0;
}

.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
