.btnWrapper {
  display: flex;
  align-items: baseline;
}

.otherProducerWrapper {
  margin-left: 15px;
  & :global(.govuk-form-group) {
    padding-left: 15px;
    border-left: 4px solid #b1b4b6;
  }
}
.otherProducerNameError {
  margin-left: 15px;
  & :global(.govuk-form-group) {
    padding-left: 15px;
    border-left: 4px solid #d4351c;
  }
}
.producerSelectWrapper {
  > :global(.govuk-form-group) {
    margin-bottom: 10px;
  }
}

.reClassifyStages {
  & :global(.govuk-hint) {
    color: #0b0c0c;
  }
}

.errorSummaryWrapper {
  &:focus {
    outline: 0.2rem solid #ffdd00;
  }
  :global(.govuk-error-summary) {
    margin-bottom: 20px;
    padding: 0.625rem;
  }
}
