.btnWrapper {
  display: flex;
  align-items: baseline;
}
.btnCancel {
  margin-left: 18px;
}

.otherProducerWrapper {
  margin-left: 15px;
  & :global(.govuk-form-group) {
    padding-left: 15px;
    border-left: 4px solid #b1b4b6;
  }
}
.otherProducerNameError {
  margin-left: 15px;
  & :global(.govuk-form-group) {
    padding-left: 15px;
    border-left: 4px solid #d4351c;
  }
}
.producerSelectWrapper {
  > :global(.govuk-form-group) {
    margin-bottom: 10px;
  }
}

.reClassifyStages {
  & :global(.govuk-hint) {
    color: #0b0c0c;
  }
}

.errorSummaryWrapper {
  &:focus {
    outline: 0.2rem solid #ffdd00;
  }
  :global(.govuk-error-summary) {
    margin-bottom: 20px;
    padding: 0.625rem;
  }
}

.alertContent {
  max-width: 32.5rem;
  padding: 1.25rem 1.875rem 1.875rem;
}

.actionButtonsWrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 1.875rem;
}
