name: "Security Scanning"
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  scan:
    name: Security Scan
    uses: CPS-Innovation/Polaris/.github/workflows/security-scan.yml@main
    permissions:
      security-events: write
      statuses: write